@media screen and (max-width: 1400px) {
	.portfolio__wrapper-item,
	.portfolio__wrapper-item.small {
		width: 49.5%;
		margin-bottom: 10px;
	}
	.portfolio__wrapper {
		flex-wrap: wrap;
	}
	.portfolio__wrapper .block-wrap .block {
		width: 49%;
	}
	.offers__item .img-side img {
		margin: auto;
	}
}

@media screen and (max-width: 1150px) {
	.projects-wrapper.offers .offers__item {
		width: 48%;
	}
}

@media screen and (max-width: 1000px) {
	.site-header {
		height: 50px;
	}
	.menu {
		top: 50px;
	}
	.menu-toggle {
		width: 50px;
		height: 50px;
	}
	.logo-side .logo {
		margin-left: 60px;
		img {
			max-width: 90px;
		}
	}
	.logo-side .slogan {
		margin-top: 9px;
		margin-left: 10px;
		font-size: 12px;
	}
	.tel-side .callback {
		height: 50px;
		line-height: 50px;
		padding: 0 20px;
		font-size: 12px;
		margin-left: 15px;
	}
	.tel-side .tel {
		font-size: 15px;
	}
	.main-content {
		padding-top: 50px;
	}
	.tel-side .email-block {
		margin-top: 7px;
	}
	.menu ul a {
		line-height: 50px;
	}
	.menu {
		width: 250px;
		left: -250px;
	}
	.menu-toggle span {
		height: 2px;
	}
	.services {
		display: block;
	}
	.services__item {
		width: 100%;
	}
	.block-title {
		margin: 40px 0;
	}
	.portfolio__wrapper {
		display: block;
	}
	.portfolio__wrapper-item, .portfolio__wrapper-item.small {
		width: 100%;
	}
	.portfolio__wrapper-item.small .block {
		height: 400px;
	}
	.portfolio__wrapper-item.small {
		height: auto;
	}
	.portfolio__wrapper-item.small.last {
		height: 600px;
	}
	.offers__item {
		width: 49%;
	}
	.publications__wrap {
		display: block;
	}
	.publications__item {
		width: 100%;
		margin-bottom: 20px;
	}
	.publications__item .img-side {
		width: 40%;
	}
	.about .slider-side {
		float: none;
		width: 100%;
	}
	.about .slider-side__inner {
		width: 100%;
	}
	.about .slick-arrow {
		display: none !important;
	}
	.about .slick-slide img {
		margin: auto;
	}
	.about .slick-slide {
		height: auto;
	}
	.about .txt-side {
		margin-left: 0;
		margin-top: 20px;
	}
	.about, .publications,
	.portfolio, .offers, .team {
		padding: 0 15px;
	}
	.services__item {
		padding-left: 15px;
		padding-right: 15px;
	}
	.site-footer .footer-nav {
		margin-left: 25px;
	}
	.site-footer .footer-nav ul.first {
		margin-right: 25px;
	}
	.contacts__inner {
		width: 340px;
	}
	.services-list li {
		width: 48%;
		float: none;
	}
	.page-sidebar {
		width: 250px;
	}
	.page-content {
		margin-left: 270px;
	}
	.services-list li img {
		height: 220px;
	}
	.services-list li .img-side {
		min-height: 220px;
	}
	.services-list .individual {
		height: 220px;
	}

	.detail__inner .text-side,
	.detail__inner .slider-side {
		float: none;
		width: 100%;
		padding: 0;
	}
	.detail__inner .slider-side {
		margin-bottom: 10px;
	}

	.detail-tech ul {
		text-align: center;
		li,
		li:last-child {
			margin: 0 10px 20px;
			text-align: left;
		}
	}


}

@media screen and (max-width: 768px) {
	.intro h1 {
		font-size: 26px;
		margin-bottom: 20px;
		line-height: 34px;
	}
	.intro .heading {
		line-height: 20px;
		padding-bottom: 20px;
	}
	.intro {
		padding: 100px 15px;
		display: block;
		min-height: 1px;

	}
	.intro .links-wrap {
		margin-top: 30px;;
		margin-bottom: 0;
	}
	.intro a {
		display: block;
		width: 250px;
		font-size: 14px;
		margin: 0 auto 20px;
	}
	.block-title {
		font-size: 30px;
		margin: 20px 0;
	}
	.services__item.what-we-do p {
		font-size: 15px;
	}
	.team .img-side {
		float: none;
		margin: 0 auto 20px;
	}
	.team .descr-side {
		margin-left: 0;
	}
	.contacts {
		display: block;
		height: auto;
	}
	.contacts__inner {
		width: 100%;
		padding: 20px 0;
	}
	.contacts .call-us {
		margin-top: 20px;
	}
	.contacts__map {
		width: 100%;
		height: 500px;
	}
	.site-footer {
		padding-top: 20px;
	}
	.site-footer .logo {
		float: none;
		margin: 0 auto 20px;
	}
	.site-footer .footer-nav {
		float: none;
		margin: 0 auto 20px;
		text-align: center;
		ul {
			text-align: left;
		}
	}
	.site-footer .footer-social {
		float: none;
		margin: 0 auto;
		max-width: 230px;
	}
	.page-sidebar li.current-menu-item a:after {
		display: none;
	}
	.page-sidebar {
		width: 100%;
		float: none;
		margin-bottom: 30px;
	}
	.page-content {
		margin-left: 0;
	}
	
}

@media screen and (max-width: 670px) {
	.logo-side .slogan {
		display: none;
	}
	.offers .slick-list {
		margin: 0;
	}
	.offers__item {
		width: 100% !important;
	}
}

@media screen and (max-width: 540px) {
	.services__list-item .img-side {
		float: none;
		margin: 0 auto 10px;
	}
	.services__list-item .descr-side {
		margin-left: 0;
	}
	.portfolio__wrapper .block-wrap .block {
		width: 100%;
		height: 290px;
		margin-bottom: 15px;
	}
	.portfolio__wrapper .block-wrap {
		display: block;
		height: 600px;
	}
	.publications__item .img-side {
		width: 0;
	}
	.publications__item .txt-side {
		width: 100%;
	}
	.publications .all-publications,
	.portfolio .view-all-portfolio {
		width: 250px;
		font-size: 12px;
	}
	.team .slick-arrow {
		display: none !important;
	}
	.team .slick-slider {
		padding: 0;
	}
	.site-footer .copyright__txt {
		float: none;
		text-align: center;
	}
	.team .slick-slide,
	.team .slick-list {
		margin: 0;
	}
	.logo-side .slogan {
		display: none;
	}
	.tel-side .email-block {
		display: none;
	}
	.logo-side .logo img {
		max-width: 75px;
	}
	.logo-side .logo {
		margin-top: 11px;
	}
	.tel-side .callback {
		margin-left: 0;
		padding: 0 15px;
	}
	.services-list li {
		width: 100%;
		display: block;
		margin-right: 0;
	}
	.services-list li .img-side {
		min-height: 1px;
	}
	.services-list li img {
		max-width: 100%;
		height: auto;
	}
	.detail-table th {
		font-size: 10px;
	}
	.detail-table td {
		font-size: 11px;
	}
	.detail-table td, .detail-table th {
		padding: 10px;
	}
	.detail-table td:nth-child(2n) {
		width: 90px;
	}
	.detail-table td:nth-child(3n) {
		width: 104px;
	}

	.detail-tech ul {
		text-align: center;
		li,
		li:last-child {
			margin: 0 auto 10px;
			width: 280px;
		}
	}
}















