$down-hover: 55px 85px -55px -85px 16px 8px 177px 139px '../img/sprite.png';
$down: 35px 85px -35px -85px 16px 8px 177px 139px '../img/sprite.png';
$fb-hover: 163px 118px -163px -118px 8px 16px 177px 139px '../img/sprite.png';
$fb-share-hover: 97px 102px -97px -102px 7px 16px 177px 139px '../img/sprite.png';
$fb-share: 86px 102px -86px -102px 7px 16px 177px 139px '../img/sprite.png';
$fb: 163px 98px -163px -98px 8px 16px 177px 139px '../img/sprite.png';
$gplus-hover: 66px 102px -66px -102px 16px 16px 177px 139px '../img/sprite.png';
$gplus-share-hover: 46px 102px -46px -102px 16px 16px 177px 139px '../img/sprite.png';
$gplus-share: 163px 44px -163px -44px 14px 14px 177px 139px '../img/sprite.png';
$gplus: 140px 82px -140px -82px 16px 16px 177px 139px '../img/sprite.png';
$pint-share-hover: 163px 0px -163px 0px 14px 18px 177px 139px '../img/sprite.png';
$pint-share: 163px 22px -163px -22px 14px 18px 177px 139px '../img/sprite.png';
$sert-l--arr: 23px 102px -23px -102px 19px 37px 177px 139px '../img/sprite.png';
$sert-l-arr-hover: 140px 0px -140px 0px 19px 37px 177px 139px '../img/sprite.png';
$sert-r-arr-hover: 0px 102px 0px -102px 19px 37px 177px 139px '../img/sprite.png';
$sert-r-arr: 140px 41px -140px -41px 19px 37px 177px 139px '../img/sprite.png';
$team-l-arr-hover: 105px 0px -105px 0px 31px 63px 177px 139px '../img/sprite.png';
$team-l-arr: 70px 0px -70px 0px 31px 63px 177px 139px '../img/sprite.png';
$team-r-arr-hover: 35px 0px -35px 0px 31px 63px 177px 139px '../img/sprite.png';
$team-r-arr: 0px 0px 0px 0px 31px 63px 177px 139px '../img/sprite.png';
$twit-hover: 35px 67px -35px -67px 22px 14px 177px 139px '../img/sprite.png';
$twit-share-hover: 87px 67px -87px -67px 18px 13px 177px 139px '../img/sprite.png';
$twit-share: 109px 67px -109px -67px 18px 13px 177px 139px '../img/sprite.png';
$twit: 61px 67px -61px -67px 22px 14px 177px 139px '../img/sprite.png';
$up: 0px 67px 0px -67px 31px 31px 177px 139px '../img/sprite.png';
$vk-hover: 163px 80px -163px -80px 12px 14px 177px 139px '../img/sprite.png';
$vk: 163px 62px -163px -62px 12px 14px 177px 139px '../img/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
