@import "_normalize.scss";
@import "_variables.scss";
@import "_sprite.scss";
@import "_slick.scss";
@import "_jquery.fancybox.scss";


// .header-holder {
// 	height: 70px;
// }

.site-header {
	height: 74px;
	background: #fff;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	border-bottom: 1px solid #e8e4e1;
	z-index: 10;
}

.logo-side {
	float: left;
	.logo {
		display: inline-block;
		margin-left: 95px;
		margin-top: 8px;
	}
	.slogan {
		vertical-align: top;
		margin: 20px 0 0 20px;
		display: inline-block;
		max-width: 170px;
		font-size: 13px;
		line-height: 18px;
		font-family: 'panton';
		color: #817064;
	}
}

.tel-side {
	float: right;
	.callback {
		@extend .animated;
		vertical-align: top;
		height: 74px;
		display: inline-block;
		font-size: 18px;
		color: #fff;
		font-weight: 700;
		font-family: 'panton';
		text-align: center;
		text-decoration: none;
		background: #8bc53b;
		line-height: 74px;
		padding: 0 60px;
		text-transform: uppercase;
		margin-left: 50px;
		&:hover {
			background: #6aa51b;
		}
	}
	.email-block {
		text-align: right;
		display: inline-block;
		margin-top: 14px;
	}
	.tel {
		font-size: 20px;
		font-weight: 700;
		font-family: 'panton';
		color: #3e3222;
		text-decoration: none;
	}
	.email {
		font-size: 13px;
		color: #817064;
		margin: 5px 0 0;
		a {
			color: #817064;
			margin-left: 2px;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.menu-toggle {
	@extend .animated;
	width: 74px;
	height: 74px;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	outline: 0;
	border: none;
	cursor: pointer;
	border-right: 1px solid #e8e4e1;
	&:hover {
		background: #f4f1ed;
	}
	.holder {
		max-width: 40px;
		margin: auto;
		text-align: left;
	}
	span {
		display: block;
		height: 3px;
		background: #3e3222;
		margin-bottom: 7px;
		@extend .animated;
		&:nth-child(2) {
			width: 30px;
		}
		&:nth-child(3) {
			width: 35px;
			margin-bottom: 0;
		}
	}
	&.active {
		span:first-child {
			transform: rotate(45deg);
			margin: 0 0 -3px;
			width: 100%;
		}
		span:nth-child(2) {
			transform: rotate(-45deg);
			margin: 0;
			width: 100%;
		}
		span:nth-child(3) {
			display: none;
		}
	}
}
.menu {
	@extend .animated;
	position: fixed;
	top: 74px;
	border-top: 1px solid #e8e4e1;
	width: 340px;
	left: -340px;
	height: 100%;
	background: #fff;
	&.visible {
		left: 0;
	}
	&__inner {
		overflow-y: auto;
		padding-bottom: 74px;
		height: 100%;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		a {
			@extend .animated;
			display: block;
			line-height: 60px;
			border-bottom: 1px solid #e8e4e1;
			font-size: 15px;
			color: #3e3222;
			text-transform: uppercase;
			padding-left: 30px;
			text-decoration: none;
			font-weight: 700;
			font-family: 'hn';
			&:hover {
				background: #f4f1ed;
			}
		}
	}
}

.intro {
	background: url(../img/top.jpg) top 70px center no-repeat;
	background-size: cover;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: column;
	justify-content: center;
	min-height: 100vh;
	padding-top: 74px;
	text-align: center;
	&__inner {
		max-width: 800px;
		margin: auto;
		color: #fff;
	}
	h1 {
		font-size: 48px;
		line-height: 52px;
		font-weight: 700;
		font-family: 'panton';
		text-transform: uppercase;
		margin: 0 0 40px;
	}
	.heading {
		font-size: 17px;
		line-height: 26px;
		font-family: 'hn';
		font-weight: 300;
		padding-bottom: 40px;
		position: relative;
		&::after {
			position: absolute;
			content: '';
			height: 2px;
			background: #8bc53b;
			width: 196px;
			left: 50%;
			margin-left: -98px;
			bottom: 0;
		}
	}
	.links-wrap {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	a {
		@extend .animated;
		display: inline-block;
		width: 290px;
		height: 54px;
		border-radius: 30px;
		border: 1px solid transparent;
		margin: 0 10px;
		color: #fff;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		line-height: 52px;
		font-family: 'panton';
		font-size: 16px;
		&.order {
			background: #8bc53b;
			font-weight: 700;
			&:hover {
				background: #6aa51b;
			}
		}
		&.learn-more {
			border-color: #fff;
			&:hover {
				background: #fff;
				color: #3e3222;
			}
		}
	}
}

.block-title {
	margin: 80px 0;
	font-weight: 700;
	font-family: 'panton';
	font-size: 40px;
	color: #3e3222;
	text-transform: uppercase;
}

.services {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row;
	&__item {
		padding: 0px 40px 70px;
		width: 50%;
		&.our-services {
			background: url(../img/services-bg.png) top center no-repeat #ebe6df;
		}
		&.what-we-do p {
			font-size: 17px;
			line-height: 26px;
			color: #3a3631;
			font-weight: 300;
			font-family: 'hn';
		}
		.view-more {
			@extend .animated;
			display: block;
			width: 256px;
			height: 54px;
			border: 1px solid #3e3222;
			line-height: 52px;
			color: #3a3631;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 15px;
			font-family: 'hn';
			font-weight: 900;
			border-radius: 30px;
			margin-top: 50px;
			&:hover {
				background: #6aa51b;
				color: #fff;
				border-color: #6aa51b;
			}
		}
	}
}

.services__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li:last-child .heading {
		border-bottom: 1px solid #cac2b7;
	}
	.heading {
		color: #3e3222;
		font-size: 16px;
		padding: 24px 0 24px 5px;
		margin: 0;
		border-top: 1px solid #cac2b7;
		text-transform: uppercase;
		font-family: 'hn';
		font-weight: 700;
		cursor: pointer;
		position: relative;
		padding-right: 40px;
		.arr {
			@include sprite($down);
			position: absolute;
			right: 9px;
			top: 50%;
			transform: translateY(-50%);
		}
		&:hover {
			color: #6aa51b;
			.arr {
				@include sprite($down-hover);
			}
		}
	}
	&-item {
		max-height: 0px;
		overflow: hidden;
		.img-side {
			float: left;
			width: 100px;
			img {
				display: block;
				max-width: 100%;
				height: auto;
				border-radius: 50%;
			}
		}
		.descr-side {
			margin-left: 130px;
			p {
				margin: 0 0 5px;
				font-size: 15px;
				line-height: 22px;
				color: #605a52;
				font-family: 'hn';
				font-weight: 300;
			}
			.more {
				font-size: 15px;
				font-weight: 700;
				color: #5e9612;
				font-family: 'hn';
			}
		}
	}
	li.active {
		.heading  {
			border-bottom: 1px solid #cac2b7;
			.arr {
				@include sprite($up);
				right: 0;
			}
		}
		.services__list-item {
			max-height: 9999px;
			margin: 30px 0;
		}
	}
}

.portfolio {
	padding: 0 40px;
	background: #f2efea;
	.block-title {
		text-align: center;
	}
	&__wrapper {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		&-item {
			width: 32.5%;
			height: 600px;
			position: relative;
			background-size: cover;
			background-position: top center;
			background-repeat: no-repeat;
			&.small {
				width: 15.5%;
				.block {
					position: relative;
					background-size: cover;
					background-position: top center;
					background-repeat: no-repeat;
					height: 290px;
					margin-bottom: 20px;
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}
		.block-wrap {
			height: 290px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-flow: row;
			justify-content: space-between;
			margin-bottom: 20px;
			.block {
				width: 48%;
				position: relative;
			}
		}
		.block-half {
			width: 100%;
			height: 290px;
			position: relative;
		}
	}
	.overlay {
		position: absolute;
		padding: 20px 15px;
		background: rgba(0, 0, 0, .7);
		width: 100%;
		bottom: 0;
		left: 0;
		color: #fff;
		p.heading {
			margin: 0 0 5px;
			font-family: 'hn';
			font-weight: 700;
			text-transform: uppercase;
			font-size: 14px;
		}
		p.descr {
			margin: 0 0 5px;
			font-size: 13px;
			line-height: 18px;
			font-family: 'hn';
			font-weight: 300;
			color: #ddd3c6;
		}
		a {
			font-size: 13px;
			color: #8bc53b;
			font-family: 'hn';
			font-weight: 300;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.view-all-portfolio {
		@extend .animated;
		display: block;
		width: 310px;
		height: 54px;
		border: 1px solid #3e3222;
		line-height: 52px;
		color: #3a3631;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 15px;
		font-family: 'hn';
		font-weight: 900;
		border-radius: 30px;
		margin: 50px auto 80px;
		&:hover {
			background: #6aa51b;
			color: #fff;
			border-color: #6aa51b;
		}
	}
	.full-link {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		background: rgba(94, 180, 18, .7);
		top: 0;
		left: 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		visibility: hidden;
		opacity: 0;
		@extend .animated;
		span {
			@extend .animated;
			padding: 0 30px;
			line-height: 50px;
			display: inline-block;
			text-align: center;
			border: 1px solid #fff;
			border-radius: 50px;
			text-transform: uppercase;
			color: #fff;
			font-family: 'hn';
			font-weight: 900;
			&:hover {
				background: #fff;
				color: #3e3222;
			}
		}
	}
	&__wrapper-item:hover > .full-link,
	.block-half:hover > .full-link, 
	.block:hover > .full-link {
		visibility: visible;
		opacity: 1;
	}
}

.offers {
	padding: 0 40px;
	margin-bottom: 80px;
	.block-title {
		text-align: center;
	}
	&__inner {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}
	&__item {
		width: 16%;
		border: 1px solid #ded9d0;
		box-shadow: 0 0 5px 1px rgba(0, 0, 0, .1);
		.img-side {
			margin-bottom: 10px;
			img {
				display: block;
				max-width: 100%;
				height: auto;
			}
		}
		.heading {
			padding: 0 20px;
			font-size: 14px;
			color: #3e3222;
			font-weight: 700;
			font-family: 'hn';
			text-transform: uppercase;
			min-height: 32px;
		}
	}
	table {
		width: 100%;
		table-layout: fixed;
		font-size: 13px;
		td {
			padding: 3px 0;
		}
		tr td:first-child {
			font-weight: 700;
			font-family: 'hn';
			color: #625f5b;
			padding-left: 20px;
		}
		tr td:last-child {
			text-align: right;
			font-family: 'hn';
			font-weight: 300;
			padding-right: 20px;
		}
	}
	.link-wrap {
		margin-top: 20px;
		a {
			@extend .animated;
			display: inline-block;
			float: left;
			width: 50%;
			vertical-align: middle;
			text-align: center;
			text-decoration: none;
			height: 46px;
			line-height: 46px;
			color: #fff;
			font-size: 13px;
			&.order {
				background: #8bc53b;
				font-size: 14px;
				font-family: 'hn';
				font-weight: 900;
				text-transform: uppercase;
				&:hover {
					background: #6aa51b;
				}
			}
			&.view-more {
				background: #3e3222;
				font-weight: 300;
				font-family: 'hn';
				text-transform: uppercase;
				&:hover {
					background: #211a11;
				}
			}
		}
	}
	.individual-item {
		background: url(../img/offer-individ.jpg) top center no-repeat;
		background-size: cover;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 0 20px;
		.individ-heading {
			margin: 0;
			color: #fff;
			font-size: 24px;
			font-weight: 300;
			font-family: 'hn';
			line-height: 30px;
		}
		.individ-link {
			@extend .animated;
			display: block;
			border-radius: 30px;
			text-align: center;
			color: #8bc53b;
			font-family: 'hn';
			font-weight: 900;
			text-transform: uppercase;
			text-decoration: none;
			border: 1px solid #8bc53b;
			font-size: 15px;
			line-height: 54px;
			margin: 20px 0;
			&:hover {
				color: #fff;
				background: #8bc53b;
			}
		}
		.individ-bottom {
			font-size: 20px;
			font-weight: 700;
			font-family: 'hn';
			color: #fff;
			text-align: center;
			line-height: 28px;
			span {
				display: block;
				font-size: 24px;
				font-weight: 900;
				text-transform: uppercase;
			}
		}
	}
}

.publications {
	background: url(../img/publications.jpg) top center no-repeat;
	background-size: cover;
	.block-title {
		color: #fff;
		text-align: center;
	}
	&__wrap {
		max-width: 1220px;
		margin: 0 auto;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		flex-flow: row;

	}
	&__item {
		width: 49.5%;
		background: #fff;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-flow: row;
		.img-side,
		.txt-side {
			width: 50%;
		}
		.img-side {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: top center;
		}
		.txt-side {
			padding: 20px 20px 60px;
		}
		.heading {
			font-size: 16px;
			line-height: 22px;
			font-weight: 700;
			font-family: 'hn';
			margin: 0;
			text-transform: uppercase;
		}
		.date {
			margin: 10px 0;
			font-size: 13px;
			color: #9c9894;
		}
		.txt {
			font-size: 13px;
			font-family: 'hn';
			line-height: 20px;
			color: #3a3631;
			margin: 0 0 10px;
		}
		.view-more {
			color: #8bc53b;
			font-size: 13px;
			font-family: 'hn';
			font-weight: 300;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.all-publications {
		@extend .animated;
		width: 320px;
		display: block;
		line-height: 54px;
		border-radius: 30px;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
		font-size: 15px;
		font-family: 'hn';
		font-weight: 900;
		margin: 50px auto 80px;
		border: 1px solid #fff;
		&:hover {
			background: #8bc53b;
			border-color: #8bc53b;
		}
	}
}

.about {
	.block-title {
		text-align: center;
	}
	&__inner {
		max-width: 1220px;
		margin: 0 auto 80px;
	}
	.slider-side {
		width: 500px;
		float: left;
		&__inner {
			width: 430px;
		}
	}
	.slick-slide {
		border: 1px solid #ded9d0;
		box-shadow: 0 0 8px rgba(66, 54, 35, 0.07);
		padding: 10px;
		margin: 0 10px;
		height: 286px;
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	.txt-side {
		margin-left: 550px;
		p {
			font-size: 17px;
			line-height: 26px;
			color: #3a3631;
			font-family: 'hn';
			font-weight: 300;
			margin: 0 0 20px;
		}
	}
	.slick-list {
		margin: 0 -10px;
	}
	.slick-arrow {
		position: absolute;
		top: 50%;
		margin-top: -19px;
		border: none;
		outline: 0;
		background-color: transparent;
		font-size: 0px;
		text-indent: -9999px;
		cursor: pointer;
		&.slick-prev {
			@include sprite($sert-l--arr);
			left: -35px;
			&:hover {
				@include sprite($sert-l-arr-hover);
			}
		}
		&.slick-next {
			@include sprite($sert-r-arr);
			right: -35px;
			&:hover {
				@include sprite($sert-r-arr-hover);
			}
		}
	}
}

.team {
	background: #f2efea;
	.block-title {
		text-align: center;
	}
	&__inner {
		max-width: 1220px;
		margin: 0 auto 80px;
	}
	.slick-slider {
		padding: 0 70px;
	}
	.slick-slide {
		margin: 0 20px;
	}
	.slick-list {
		margin: 0 -20px;
	}

	.img-side {
		float: left;
		max-width: 206px;
		padding: 5px;
		background: #fff;
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	.descr-side {
		margin-left: 240px;
	}
	.name {
		margin: 0 0 20px;
		color: #3e3222;
		font-weight: 300;
		font-family: 'hn';
		font-size: 26px;
	}
	p {
		margin: 0 0 5px;
		font-size: 14px;
		line-height: 22px;
		color: #625c55;
		font-family: 'hn';
		font-weight: 300;
		strong {
			font-weight: 700;
			color: #3e3222;
		}
	}
	a {
		font-size: 14px;
		line-height: 22px;
		color: #625c55;
		font-family: 'hn';
		font-weight: 300;
		&:hover {
			text-decoration: none;
		}
	}
	.slick-arrow {
		position: absolute;
		top: 50%;
		margin-top: -31px;
		border: none;
		outline: 0;
		background-color: transparent;
		font-size: 0px;
		text-indent: -9999px;
		cursor: pointer;
		&.slick-prev {
			@include sprite($team-l-arr);
			left: 0px;
			&:hover {
				@include sprite($team-l-arr-hover);
			}
		}
		&.slick-next {
			@include sprite($team-r-arr);
			right: 0px;
			&:hover {
				@include sprite($team-r-arr-hover);
			}
		}
	}
}

.contacts {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row;
	min-height: 560px;
	&__inner {
		width: 440px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: url(../img/contacts-bg.png) top center no-repeat;
		background-size: cover;
		padding: 0 40px;
		text-align: center;
	}
	&__map {
		flex: 1;
	}
	.heading {
		margin: 0 0 45px;
		font-family: 'panton';
		font-weight: 700;
		font-size: 32px;
		color: #fff;
		text-transform: uppercase;
	}
	.address-at {
		margin: 0 0 10px;
		color: #fff;
		font-weight: 300;
		font-family: 'hn';
		color: #fff;
		font-size: 16px;
		text-transform: uppercase;
	}
	.address {
		margin: 0;
		font-size: 14px;
		line-height: 22px;
		color: #c9baa6;
		font-weight: 300;
		font-family: 'hn';
	}
	.tel {
		display: block;
		margin: 30px 0;
		font-size: 24px;
		font-family: 'panton';
		font-weight: 700;
		color: #fff;
		text-decoration: none;
	}
	.email {
		font-size: 15px;
		color: #fff;
		margin: 0;
		font-family: 'panton';
		a {
			color: #c9baa6;
			text-decoration: none;
			margin-left: 3px;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.call-us {
		@extend .animated;
		max-width: 258px;
		display: block;
		margin: 50px auto 0;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
		font-size: 15px;
		color: #8bc53b;
		border: 1px solid #8bc53b;
		border-radius: 30px;
		font-family: 'hn';
		font-weight: 900;
		padding: 18px 0;
		&:hover {
			background: #8bc53b;
			color: #fff;
		}
	}

}










































