@import "_normalize.scss";
@import "_variables.scss";
@import "_sprite.scss";



// .header-holder {
// 	height: 70px;
// }

.site-header {
	height: 74px;
	background: #fff;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	border-bottom: 1px solid #e8e4e1;
	z-index: 10;
}

.logo-side {
	float: left;
	.logo {
		display: inline-block;
		margin-left: 95px;
		margin-top: 8px;
	}
	.slogan {
		vertical-align: top;
		margin: 20px 0 0 20px;
		display: inline-block;
		max-width: 170px;
		font-size: 13px;
		line-height: 18px;
		font-family: 'panton';
		color: #817064;
	}
}

.tel-side {
	float: right;
	.callback {
		@extend .animated;
		vertical-align: top;
		height: 74px;
		display: inline-block;
		font-size: 18px;
		color: #fff;
		font-weight: 700;
		font-family: 'panton';
		text-align: center;
		text-decoration: none;
		background: #8bc53b;
		line-height: 74px;
		padding: 0 60px;
		text-transform: uppercase;
		margin-left: 50px;
		&:hover {
			background: #6aa51b;
		}
	}
	.email-block {
		text-align: right;
		display: inline-block;
		margin-top: 14px;
	}
	.tel {
		font-size: 20px;
		font-weight: 700;
		font-family: 'panton';
		color: #3e3222;
		text-decoration: none;
	}
	.email {
		font-size: 13px;
		color: #817064;
		margin: 5px 0 0;
		a {
			color: #817064;
			margin-left: 2px;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.menu-toggle {
	@extend .animated;
	width: 74px;
	height: 74px;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	outline: 0;
	border: none;
	cursor: pointer;
	border-right: 1px solid #e8e4e1;
	&:hover {
		background: #f4f1ed;
	}
	.holder {
		max-width: 40px;
		margin: auto;
		text-align: left;
	}
	span {
		display: block;
		height: 3px;
		background: #3e3222;
		margin-bottom: 7px;
		@extend .animated;
		&:nth-child(2) {
			width: 30px;
		}
		&:nth-child(3) {
			width: 35px;
			margin-bottom: 0;
		}
	}
	&.active {
		span:first-child {
			transform: rotate(45deg);
			margin: 0 0 -3px;
			width: 100%;
		}
		span:nth-child(2) {
			transform: rotate(-45deg);
			margin: 0;
			width: 100%;
		}
		span:nth-child(3) {
			display: none;
		}
	}
}
.menu {
	@extend .animated;
	position: fixed;
	top: 74px;
	border-top: 1px solid #e8e4e1;
	width: 340px;
	left: -340px;
	height: 100%;
	background: #fff;
	&.visible {
		left: 0;
	}
	&__inner {
		overflow-y: auto;
		padding-bottom: 74px;
		height: 100%;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		a {
			@extend .animated;
			display: block;
			line-height: 60px;
			border-bottom: 1px solid #e8e4e1;
			font-size: 15px;
			color: #3e3222;
			text-transform: uppercase;
			padding-left: 30px;
			text-decoration: none;
			font-weight: 700;
			font-family: 'hn';
			&:hover {
				background: #f4f1ed;
			}
		}
	}
}

.intro {
	background: url(../img/top.jpg) top 70px center no-repeat;
	background-size: cover;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: column;
	justify-content: center;
	min-height: 100vh;
	padding-top: 74px;
	text-align: center;
	&__inner {
		max-width: 800px;
		margin: auto;
		color: #fff;
	}
	h1 {
		font-size: 48px;
		line-height: 52px;
		font-weight: 700;
		font-family: 'panton';
		text-transform: uppercase;
		margin: 0 0 40px;
	}
	.heading {
		font-size: 17px;
		line-height: 26px;
		font-family: 'hn';
		font-weight: 300;
		padding-bottom: 40px;
		position: relative;
		&::after {
			position: absolute;
			content: '';
			height: 2px;
			background: #8bc53b;
			width: 196px;
			left: 50%;
			margin-left: -98px;
			bottom: 0;
		}
	}
	.links-wrap {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	a {
		@extend .animated;
		display: inline-block;
		width: 290px;
		height: 54px;
		border-radius: 30px;
		border: 1px solid transparent;
		margin: 0 10px;
		color: #fff;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		line-height: 52px;
		font-family: 'panton';
		font-size: 16px;
		&.order {
			background: #8bc53b;
			font-weight: 700;
			&:hover {
				background: #6aa51b;
			}
		}
		&.learn-more {
			border-color: #fff;
			&:hover {
				background: #fff;
				color: #3e3222;
			}
		}
	}
}

.block-title {
	margin: 80px 0;
	font-weight: 700;
	font-family: 'panton';
	font-size: 40px;
	color: #3e3222;
	text-transform: uppercase;
}

.services {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row;
	&__item {
		padding: 0px 40px 70px;
		width: 50%;
		&.our-services {
			background: url(../img/services-bg.png) top center no-repeat #ebe6df;
		}
		&.what-we-do p {
			font-size: 17px;
			line-height: 26px;
			color: #3a3631;
			font-weight: 300;
			font-family: 'hn';
		}
		.view-more {
			@extend .animated;
			display: block;
			width: 256px;
			height: 54px;
			border: 1px solid #3e3222;
			line-height: 52px;
			color: #3a3631;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 15px;
			font-family: 'hn';
			font-weight: 900;
			border-radius: 30px;
			margin-top: 50px;
			&:hover {
				background: #6aa51b;
				color: #fff;
				border-color: #6aa51b;
			}
		}
	}
}

.services__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li:last-child .heading {
		border-bottom: 1px solid #cac2b7;
	}
	.heading {
		color: #3e3222;
		font-size: 16px;
		padding: 24px 0 24px 5px;
		margin: 0;
		border-top: 1px solid #cac2b7;
		text-transform: uppercase;
		font-family: 'hn';
		font-weight: 700;
		cursor: pointer;
		position: relative;
		padding-right: 40px;
		.arr {
			@include sprite($down);
			position: absolute;
			right: 9px;
			top: 50%;
			transform: translateY(-50%);
		}
		&:hover {
			color: #6aa51b;
			.arr {
				@include sprite($down-hover);
			}
		}
	}
	&-item {
		max-height: 0px;
		overflow: hidden;
		.img-side {
			float: left;
			width: 100px;
			img {
				display: block;
				max-width: 100%;
				height: auto;
				border-radius: 50%;
			}
		}
		.descr-side {
			margin-left: 130px;
			p {
				margin: 0 0 5px;
				font-size: 15px;
				line-height: 22px;
				color: #605a52;
				font-family: 'hn';
				font-weight: 300;
			}
			.more {
				font-size: 15px;
				font-weight: 700;
				color: #5e9612;
				font-family: 'hn';
			}
		}
	}
	li.active {
		.heading  {
			border-bottom: 1px solid #cac2b7;
			.arr {
				@include sprite($up);
				right: 0;
			}
		}
		.services__list-item {
			max-height: 9999px;
			margin: 30px 0;
		}
	}
}

.portfolio {
	padding: 0 40px;
	.block-title {
		text-align: center;
	}
}








































