block footer

	footer.site-footer
		.container
			.footer-top.cf
				.logo
					a(href="#")
						img(src="img/logo.png", alt="")
					p.slogan Загородное строительство частных домов
				.footer-nav
					ul.first
						li
							a(href="#") Главная
						li
							a(href="#") Наши услуги
						li
							a(href="#") Каталог проектов
						li
							a(href="#") Портфолио
					ul.second
						li
							a(href="#") Блог
						li
							a(href="#") О нас
						li
							a(href="#") Контакты
				.footer-social
					p.heading Мы в сети:
					ul
						li.fb
							a(href="#")
								span
						li.vk
							a(href="#")
								span
						li.twit
							a(href="#")
								span
						li.gplus
							a(href="#")
								span
					p.made-by Сайт разроботан:
						a(href="#") Копират студии
			.copyright.cf
				p.copyright__txt Copyright 2016, Tililitalo
				.footer-share
					p Рассказать друзьям:
					ul.share-list
						li.fb
							a.icon(href="#")
							span.number 13
						li.twit
							a.icon(href="#")
							span.number 36
						li.gplus
							a.icon(href="#")
							span.number 25
						li.pint
							a.icon(href="#")
							span.number 7

