extends _layout
block content
	main.main-content
		.page-intro(style="background-image: url(img/page-bg.jpg)")
			.page-intro__inner
				h1.page-title наши публикации
				.breadcrumbs
					a(href="#") Главная 
					span > 
					span Наши публикации
		.page
			.container
				.page-inner.cf
					aside.page-sidebar
						ul.sidebar-menu
							li
								a(href="#") Строительство коттеджей
							li
								a(href="#") Создание домов из камня
							li
								a(href="#") Установка инженерных коммуникаций
							li
								a(href="#") Ландшафтый дизайн
							li
								a(href="#") Строительство бань и саун
							li
								a(href="#") Строительство летних домов
						.sidebar-search__form
							form
								input(type="text" placeholder="Поиск по блогу")
								input(type="submit" value="")
						ul.tags-cloud
							li
								a(href="#") строительство
							li
								a(href="#") крыша
							li
								a(href="#") бетон
							li
								a(href="#") окно
							li
								a(href="#") газобетон
							li
								a(href="#") монтаж
							li
								a(href="#") брус
							li
								a(href="#") газабетон
							li
								a(href="#") фундамент
							li
								a(href="#") строительство
							li
								a(href="#") крыша
							li
								a(href="#") бетон
							li
								a(href="#") окно
							li
								a(href="#") газобетон
							li
								a(href="#") монтаж
							li
								a(href="#") брус
							li
								a(href="#") газабетон
							li
								a(href="#") фундамент
					.page-content.blog-item
						h2 Монтаж стропильной системы
						span.date 15 октября 2016
						img.img-full(src="img/blog-full.jpg", alt="")
						p Мы строим загородные дома в Санкт-Петербурге и Ленинградской области профессионально и максимально быстро – это самое главное, что вам нужно знать о строительной компании SuomenTalot, если вы думаете о том, чтобы начать работать с нами.
						p Чтобы не утомлять вас длинными текстами, ниже мы ответим на самые популярные вопросы о нас:
						h3 Откуда такое странное название?
						p SuomenTalot в переводе на русский язык означает «финские дома». Такое название мы выбрали по двум причинам: во-первых, мы начинали строить исключительно из финских строительных материалов (энергоэффективные блоки Lakka), а во-вторых, сама компания образовалась вокруг идеи строительства по европейским принципам и технологиям. Сегодня мы строим из различных материалов, но подход к строительству остался прежним.
						h3 Как давно вы на рынке и сколько построили?
						p На рынке мы с 2009 года. Все завершенные объекты и находящиеся в стадии строительства, вы можете увидеть на карте ниже. Так же мы регулярно публикуем отчеты с объектов в специальном разделе на сайте.
						h3 Кто у вас работает?
						p Все основные сотрудники, их образование и опыт работы, перечислены ниже. У нас есть собственная команда архитекторов и проектировщиков, отдел снабжения и система контроля качества строительства. Непосредственно строительством занимаются бригады, которые зарекомендовали себя, как профессионалы своего дела. Мы без сожаления расстаемся с людьми, которые подводят нас и наших клиентов, и с радостью сотрудничаем с теми, кто умеет работать.
						h3 Из чего вы строите?
						p Мы строим из кирпича, газобетона и качественных керамзитобетонных камней. Мы работаем со всеми ведущими поставщиками и производителями и выбираем только проверенные материалы. Мы не строим из полистирольной опалубки, щепоцементных блоков и прочих, непонятных, изысков.
						h3 Без лишней скромности мы перечислим три основных преимущества работы с нами:
						ul
							li Индивидуальный подход к каждому клиенту. В Санкт-Петербурге и Ленинградской области ежегодно строится огромное количество частных домов, но мы не гонимся за тем, чтобы получить гигантскую долю рынка. Мы выбираем те проекты, которые нам интересно строить и с каждым клиентом находим взаимопонимание. Потому что, если клиент (то есть Вы) доволен, то стройка идет быстро и легко.
							li Большинство компаний по строительству коттеджей основной заработок делает на обмане клиента: дешевые материалы, несоблюдение технологии, низкоквалифицированные рабочие, недостаточный надзор. В SuomenTalot мы не скрываем распределения наших расходов. Все наши сметы на строительство дома прозрачны и легко проверяемы. А нашу службу по надзору за качеством строительства можно даже заказать отдельно!
							li Если мы ошибаемся (редко, но такое бывает), мы исправляем ошибки, а не бежим от них. SuomenTalot работает с 2009 года под одним юридическим лицом и все объекты, которые мы начинали строить, мы довели ровно до того этапа, который был оговорен с клиентом.
						.tags
							a(href="#") благоустройство
							a(href="#") кровля
						












block inlineScripts