extends _layout
block content
	main.main-content
		.intro
			.intro__inner
				h1 Проект загородного деревянного дома
				p.heading В России всегда было и будет много людей, влюбленных в дома из дерева и предпочитающих их всем другим типам загородного жилья. Но понимание того, каким должен быть деревянный дом, меняется вместе с требованиями, предъявляемыми самой жизнью.
				.links-wrap
					a.order(href="#") Заказать этот проект
					a.learn-more(href="#") Узнать больше о проекте
		.services
			.services__item.what-we-do.cf
				h2.block-title Что мы строим
				p Мы строим загородные дома в Санкт-Петербурге и Ленинградской области профессионально и максимально быстро – это самое главное, что вам нужно знать о строительной компании SuomenTalot, если вы думаете о том, чтобы начать работать с нами.
				p На рынке мы с 2009 года. Все завершенные объекты и находящиеся в стадии строительства, вы можете увидеть на карте ниже. Так же мы регулярно публикуем отчеты с объектов в специальном разделе на сайте.
				p Мы строим из кирпича, газобетона и качественных керамзитобетонных камней. Мы работаем со всеми ведущими поставщиками и производителями и выбираем только проверенные материалы. Мы не строим из полистирольной опалубки, щепоцементных блоков и прочих, непонятных, изысков.
				p Для каждого клиента мы составляем максимально подробную смету, которую вы без проблем сможете проверить самостоятельно. Все работы разбиваются на этапы, составляются подробные план-графики выполнения. Эти вещи вы увидите в договоре на строительство дома, как и окончательную сумму. Мы гарантируем, что при отсутствии форс-мажоров и изменений в первоначальном проекте, мы построим именно за те деньги, которые обозначены в вашей смете. Общая гарантия на все работы составляет 2 года.
				a.view-more(href="#") Читать подробнее
			.services__item.our-services.cf
				h2.block-title Наши услуги
				ul.services__list
					li.active
						p.heading Строительство коттеджей
							span.arr
						.services__list-item.cf
							.img-side
								img(src="img/services-img.png", alt="")
							.descr-side
								p Одним из основных направлений деятельности нашей является проектирование и строительство загородных домов из кирпича. Мы выполняем как отдельные виды строительных работ, так и полностью строительство кирпичных домов  под ключ, начиная с подготовки проекта, разметки участка, закладки фундамента и возведения коробки дома и заканчивая наружной и внутренней отделкой.
								a.more(href="#") Подробнее
					li
						p.heading Создание домов из камня
							span.arr
						.services__list-item.cf
							.img-side
								img(src="img/services-img.png", alt="")
							.descr-side
								p Одним из основных направлений деятельности нашей является проектирование и строительство загородных домов из кирпича. Мы выполняем как отдельные виды строительных работ, так и полностью строительство кирпичных домов  под ключ, начиная с подготовки проекта, разметки участка, закладки фундамента и возведения коробки дома и заканчивая наружной и внутренней отделкой.
								a(href="#") Подробнее
					li
						p.heading Установка инженерных коммуникаций
							span.arr
						.services__list-item.cf
							.img-side
								img(src="img/services-img.png", alt="")
							.descr-side
								p Одним из основных направлений деятельности нашей является проектирование и строительство загородных домов из кирпича. Мы выполняем как отдельные виды строительных работ, так и полностью строительство кирпичных домов  под ключ, начиная с подготовки проекта, разметки участка, закладки фундамента и возведения коробки дома и заканчивая наружной и внутренней отделкой.
								a(href="#") Подробнее
					li
						p.heading Ландшафтный дизайн
							span.arr
						.services__list-item.cf
							.img-side
								img(src="img/services-img.png", alt="")
							.descr-side
								p Одним из основных направлений деятельности нашей является проектирование и строительство загородных домов из кирпича. Мы выполняем как отдельные виды строительных работ, так и полностью строительство кирпичных домов  под ключ, начиная с подготовки проекта, разметки участка, закладки фундамента и возведения коробки дома и заканчивая наружной и внутренней отделкой.
								a(href="#") Подробнее
					li
						p.heading Строительство бань и саун
							span.arr
						.services__list-item.cf
							.img-side
								img(src="img/services-img.png", alt="")
							.descr-side
								p Одним из основных направлений деятельности нашей является проектирование и строительство загородных домов из кирпича. Мы выполняем как отдельные виды строительных работ, так и полностью строительство кирпичных домов  под ключ, начиная с подготовки проекта, разметки участка, закладки фундамента и возведения коробки дома и заканчивая наружной и внутренней отделкой.
								a(href="#") Подробнее
					li
						p.heading Строительство летних домов
							span.arr
						.services__list-item.cf
							.img-side
								img(src="img/services-img.png", alt="")
							.descr-side
								p Одним из основных направлений деятельности нашей является проектирование и строительство загородных домов из кирпича. Мы выполняем как отдельные виды строительных работ, так и полностью строительство кирпичных домов  под ключ, начиная с подготовки проекта, разметки участка, закладки фундамента и возведения коробки дома и заканчивая наружной и внутренней отделкой.
								a(href="#") Подробнее
		.portfolio
			h2.block-title Наше портфолио




block inlineScripts