extends _layout
block content
	main.main-content
		.intro-wrapper
			span.vegas-next.vegas-arr
			span.vegas-prev.vegas-arr
			.intro
				.intro__inner
					h1 Проект загородного деревянного дома
					p.heading В России всегда было и будет много людей, влюбленных в дома из дерева и предпочитающих их всем другим типам загородного жилья. Но понимание того, каким должен быть деревянный дом, меняется вместе с требованиями, предъявляемыми самой жизнью.
					.links-wrap
						a.order(href="#") Заказать этот проект
						a.learn-more(href="#") Узнать больше о проекте
		.services
			.services__item.what-we-do.cf
				h2.block-title Что мы строим
				p Мы строим загородные дома в Санкт-Петербурге и Ленинградской области профессионально и максимально быстро – это самое главное, что вам нужно знать о строительной компании SuomenTalot, если вы думаете о том, чтобы начать работать с нами.
				p На рынке мы с 2009 года. Все завершенные объекты и находящиеся в стадии строительства, вы можете увидеть на карте ниже. Так же мы регулярно публикуем отчеты с объектов в специальном разделе на сайте.
				p Мы строим из кирпича, газобетона и качественных керамзитобетонных камней. Мы работаем со всеми ведущими поставщиками и производителями и выбираем только проверенные материалы. Мы не строим из полистирольной опалубки, щепоцементных блоков и прочих, непонятных, изысков.
				p Для каждого клиента мы составляем максимально подробную смету, которую вы без проблем сможете проверить самостоятельно. Все работы разбиваются на этапы, составляются подробные план-графики выполнения. Эти вещи вы увидите в договоре на строительство дома, как и окончательную сумму. Мы гарантируем, что при отсутствии форс-мажоров и изменений в первоначальном проекте, мы построим именно за те деньги, которые обозначены в вашей смете. Общая гарантия на все работы составляет 2 года.
				a.view-more(href="#") Читать подробнее
			.services__item.our-services.cf
				h2.block-title Наши услуги
				ul.services__list
					li.active
						p.heading Строительство коттеджей
							span.arr
						.services__list-item.cf
							.img-side
								img(src="img/services-img.png", alt="")
							.descr-side
								p Одним из основных направлений деятельности нашей является проектирование и строительство загородных домов из кирпича. Мы выполняем как отдельные виды строительных работ, так и полностью строительство кирпичных домов  под ключ, начиная с подготовки проекта, разметки участка, закладки фундамента и возведения коробки дома и заканчивая наружной и внутренней отделкой.
								a.more(href="#") Подробнее
					li
						p.heading Создание домов из камня
							span.arr
						.services__list-item.cf
							.img-side
								img(src="img/services-img.png", alt="")
							.descr-side
								p Одним из основных направлений деятельности нашей является проектирование и строительство загородных домов из кирпича. Мы выполняем как отдельные виды строительных работ, так и полностью строительство кирпичных домов  под ключ, начиная с подготовки проекта, разметки участка, закладки фундамента и возведения коробки дома и заканчивая наружной и внутренней отделкой.
								a(href="#") Подробнее
					li
						p.heading Установка инженерных коммуникаций
							span.arr
						.services__list-item.cf
							.img-side
								img(src="img/services-img.png", alt="")
							.descr-side
								p Одним из основных направлений деятельности нашей является проектирование и строительство загородных домов из кирпича. Мы выполняем как отдельные виды строительных работ, так и полностью строительство кирпичных домов  под ключ, начиная с подготовки проекта, разметки участка, закладки фундамента и возведения коробки дома и заканчивая наружной и внутренней отделкой.
								a(href="#") Подробнее
					li
						p.heading Ландшафтный дизайн
							span.arr
						.services__list-item.cf
							.img-side
								img(src="img/services-img.png", alt="")
							.descr-side
								p Одним из основных направлений деятельности нашей является проектирование и строительство загородных домов из кирпича. Мы выполняем как отдельные виды строительных работ, так и полностью строительство кирпичных домов  под ключ, начиная с подготовки проекта, разметки участка, закладки фундамента и возведения коробки дома и заканчивая наружной и внутренней отделкой.
								a(href="#") Подробнее
					li
						p.heading Строительство бань и саун
							span.arr
						.services__list-item.cf
							.img-side
								img(src="img/services-img.png", alt="")
							.descr-side
								p Одним из основных направлений деятельности нашей является проектирование и строительство загородных домов из кирпича. Мы выполняем как отдельные виды строительных работ, так и полностью строительство кирпичных домов  под ключ, начиная с подготовки проекта, разметки участка, закладки фундамента и возведения коробки дома и заканчивая наружной и внутренней отделкой.
								a(href="#") Подробнее
					li
						p.heading Строительство летних домов
							span.arr
						.services__list-item.cf
							.img-side
								img(src="img/services-img.png", alt="")
							.descr-side
								p Одним из основных направлений деятельности нашей является проектирование и строительство загородных домов из кирпича. Мы выполняем как отдельные виды строительных работ, так и полностью строительство кирпичных домов  под ключ, начиная с подготовки проекта, разметки участка, закладки фундамента и возведения коробки дома и заканчивая наружной и внутренней отделкой.
								a(href="#") Подробнее
		.portfolio.cf
			h2.block-title Наше портфолио
			.portfolio__wrapper
				.portfolio__wrapper-item(style="background-image: url(img/port1.jpg)")
					a.full-link(href="#")
						span Подробнее
					.overlay
						p.heading Облицовка дома в Осинках
						p.descr Приятное для глаз сочетание темного цоколя и светлого фасада. 
						a(href="#") Подробнее
				.portfolio__wrapper-item.small
					.block(style="background-image: url(img/port2.jpg)")
						a.full-link(href="#")
							span Подробнее
						.overlay
							p.heading Облицовка дома в Осинках
							p.descr Приятное для глаз сочетание темного цоколя и светлого фасада. 
							a(href="#") Подробнее
					.block(style="background-image: url(img/port3.jpg)")
						a.full-link(href="#")
							span Подробнее
						.overlay
							p.heading Облицовка дома в Осинках
							p.descr Приятное для глаз сочетание темного цоколя и светлого фасада. 
							a(href="#") Подробнее
				.portfolio__wrapper-item
					.block-wrap
						.block(style="background-image: url(img/port4.jpg)")
							a.full-link(href="#")
								span Подробнее
							.overlay
								p.heading Облицовка дома в Осинках
								p.descr Приятное для глаз сочетание темного цоколя и светлого фасада. 
								a(href="#") Подробнее
						.block(style="background-image: url(img/port3.jpg)")
							a.full-link(href="#")
								span Подробнее
							.overlay
								p.heading Облицовка дома в Осинках
								p.descr Приятное для глаз сочетание темного цоколя и светлого фасада. 
								a(href="#") Подробнее
					.block-half(style="background-image: url(img/port5.jpg)")
						a.full-link(href="#")
							span Подробнее
						.overlay
							p.heading Облицовка дома в Осинках
							p.descr Приятное для глаз сочетание темного цоколя и светлого фасада. 
							a(href="#") Подробнее
				.portfolio__wrapper-item.small.last(style="background-image: url(img/port6.jpg)")
					a.full-link(href="#")
						span Подробнее
					.overlay
						p.heading Облицовка дома в Осинках
						p.descr Приятное для глаз сочетание темного цоколя и светлого фасада. 
						a(href="#") Подробнее
			a.view-all-portfolio(href="#") Смотреть все портфолио
		.offers
			h2.block-title Выгодные предложения
			.offers__inner
				.offers__item
					.img-side
						img(src="img/offer.jpg", alt="")
					p.heading СОВРЕМЕННЫЙ ДОМ С ТЕРРАСОЙ НА ВТОРОМ ЭТАЖЕ
					table
						tr
							td Площадь:
							td 145 м²
						tr
							td Проект:
							td 21 750 руб.
						tr
							td Строительство:
							td 2 547 900 грн.
					.link-wrap
						a.order(href="#") Заказать
						a.view-more(href="#") Подробнее
				.offers__item
					.img-side
						img(src="img/offer.jpg", alt="")
					p.heading СОВРЕМЕННЫЙ ДОМ С ТЕРРАСОЙ НА ВТОРОМ ЭТАЖЕ
					table
						tr
							td Площадь:
							td 145 м²
						tr
							td Проект:
							td 21 750 руб.
						tr
							td Строительство:
							td 2 547 900 грн.
					.link-wrap
						a.order(href="#") Заказать
						a.view-more(href="#") Подробнее

				.offers__item
					.img-side
						img(src="img/offer.jpg", alt="")
					p.heading СОВРЕМЕННЫЙ ДОМ С ТЕРРАСОЙ НА ВТОРОМ ЭТАЖЕ
					table
						tr
							td Площадь:
							td 145 м²
						tr
							td Проект:
							td 21 750 руб.
						tr
							td Строительство:
							td 2 547 900 грн.
					.link-wrap
						a.order(href="#") Заказать
						a.view-more(href="#") Подробнее
				.offers__item
					.img-side
						img(src="img/offer.jpg", alt="")
					p.heading СОВРЕМЕННЫЙ ДОМ С ТЕРРАСОЙ НА ВТОРОМ ЭТАЖЕ
					table
						tr
							td Площадь:
							td 145 м²
						tr
							td Проект:
							td 21 750 руб.
						tr
							td Строительство:
							td 2 547 900 грн.
					.link-wrap
						a.order(href="#") Заказать
						a.view-more(href="#") Подробнее
				.offers__item
					.img-side
						img(src="img/offer.jpg", alt="")
					p.heading СОВРЕМЕННЫЙ ДОМ С ТЕРРАСОЙ НА ВТОРОМ ЭТАЖЕ
					table
						tr
							td Площадь:
							td 145 м²
						tr
							td Проект:
							td 21 750 руб.
						tr
							td Строительство:
							td 2 547 900 грн.
					.link-wrap
						a.order(href="#") Заказать
						a.view-more(href="#") Подробнее
				.offers__item.individual-item
					.individual-item__inner
						p.individ-heading Вам нужен индивидуальный проект?
						a.individ-link(href="#") Оценить проект
						p.individ-bottom Проведем оценку
							span бесплатно
				.offers__item
					.img-side
						img(src="img/offer.jpg", alt="")
					p.heading СОВРЕМЕННЫЙ ДОМ С ТЕРРАСОЙ НА ВТОРОМ ЭТАЖЕ
					table
						tr
							td Площадь:
							td 145 м²
						tr
							td Проект:
							td 21 750 руб.
						tr
							td Строительство:
							td 2 547 900 грн.
					.link-wrap
						a.order(href="#") Заказать
						a.view-more(href="#") Подробнее
		.publications.cf
			h2.block-title  наши публикации
			.publications__wrap
				.publications__item
					.img-side(style="background-image: url(img/public1.jpg)")
					.txt-side
						p.heading Монтаж стропильной системы
						p.date 6 октября 2016
						p.txt Закончили возведение стен второго этажа в поселке Хутор близ Извары и приступили к монтажу стропильной системы
						a.view-more(href="#") Подробнее
				.publications__item
					.img-side(style="background-image: url(img/public2.jpg)")
					.txt-side
						p.heading Отличный фасад
						p.date 6 октября 2016
						p.txt Свежие фотографии с нашего объекта во Владимировке, где мы сейчас доделываем всякие мелочи и возводим забор. 
						a.view-more(href="#") Подробнее
			a.all-publications(href="#") Смотреть все публикации
		.about.cf
			h2.block-title О нас
			.about__inner.cf
				.slider-side
					.slider-side__inner
						.slick-slide
							a.fancybox(href="img/sert1.png" rel="sert")
								img(src="img/sert1.png", alt="")
						.slick-slide
							a.fancybox(href="img/sert2.png" rel="sert")
								img(src="img/sert2.png", alt="")
						.slick-slide
							a.fancybox(href="img/sert1.png" rel="sert")
								img(src="img/sert1.png", alt="")
						.slick-slide
							a.fancybox(href="img/sert2.png" rel="sert")
								img(src="img/sert2.png", alt="")
				.txt-side
					p Мы строим загородные дома в Санкт-Петербурге и Ленинградской области профессионально и максимально быстро – это самое главное, что вам нужно знать о строительной компании SuomenTalot, если вы думаете о том, чтобы начать работать с нами. На рынке мы с 2009 года. Все завершенные объекты и находящиеся в стадии строительства, вы можете увидеть на карте ниже. Так же мы регулярно публикуем отчеты с объектов в специальном разделе на сайте.
					p Мы строим из кирпича, газобетона и качественных керамзитобетонных камней. Мы работаем со всеми ведущими поставщиками и производителями и выбираем только проверенные материалы. Мы не строим из полистирольной опалубки, щепоцементных блоков и прочих, непонятных, изысков.
		.team.cf
			h2.block-title Наша команда
			.team__inner
				.team-slider
					.slick-slide
						.img-side
							img(src="img/team1.png", alt="")
						.descr-side
							p.name Андросов Евгений
							p
								strong Должность: 
								| генеральный директор
							p
								strong Образование:  
								| МГСУ, высшее, инженер-проектировкщик
							p
								strong Опыт работы: 
								| 35 лет
							p
								strong Конактные данные: 
								a(href="tel:+7 (495) 345-34-67") +7 (495) 345-34-67
							p
								strong E-mail: 
								a(href="mailto:androsov@test.ru") androsov@test.ru
					.slick-slide
						.img-side
							img(src="img/team2.jpg", alt="")
						.descr-side
							p.name Андросов Евгений
							p
								strong Должность: 
								| генеральный директор
							p
								strong Образование:  
								| МГСУ, высшее, инженер-проектировкщик
							p
								strong Опыт работы: 
								| 35 лет
							p
								strong Конактные данные: 
								a(href="tel:+7 (495) 345-34-67") +7 (495) 345-34-67
							p
								strong E-mail: 
								a(href="mailto:androsov@test.ru") androsov@test.ru
					.slick-slide
						.img-side
							img(src="img/team1.png", alt="")
						.descr-side
							p.name Андросов Евгений
							p
								strong Должность: 
								| генеральный директор
							p
								strong Образование:  
								| МГСУ, высшее, инженер-проектировкщик
							p
								strong Опыт работы: 
								| 35 лет
							p
								strong Конактные данные: 
								a(href="tel:+7 (495) 345-34-67") +7 (495) 345-34-67
							p
								strong E-mail: 
								a(href="mailto:androsov@test.ru") androsov@test.ru
					.slick-slide
						.img-side
							img(src="img/team2.jpg", alt="")
						.descr-side
							p.name Андросов Евгений
							p
								strong Должность: 
								| генеральный директор
							p
								strong Образование:  
								| МГСУ, высшее, инженер-проектировкщик
							p
								strong Опыт работы: 
								| 35 лет
							p
								strong Конактные данные: 
								a(href="tel:+7 (495) 345-34-67") +7 (495) 345-34-67
							p
								strong E-mail: 
								a(href="mailto:androsov@test.ru") androsov@test.ru
					.slick-slide
						.img-side
							img(src="img/team1.png", alt="")
						.descr-side
							p.name Андросов Евгений
							p
								strong Должность: 
								| генеральный директор
							p
								strong Образование:  
								| МГСУ, высшее, инженер-проектировкщик
							p
								strong Опыт работы: 
								| 35 лет
							p
								strong Конактные данные: 
								a(href="tel:+7 (495) 345-34-67") +7 (495) 345-34-67
							p
								strong E-mail: 
								a(href="mailto:androsov@test.ru") androsov@test.ru
					.slick-slide
						.img-side
							img(src="img/team2.jpg", alt="")
						.descr-side
							p.name Андросов Евгений
							p
								strong Должность: 
								| генеральный директор
							p
								strong Образование:  
								| МГСУ, высшее, инженер-проектировкщик
							p
								strong Опыт работы: 
								| 35 лет
							p
								strong Конактные данные: 
								a(href="tel:+7 (495) 345-34-67") +7 (495) 345-34-67
							p
								strong E-mail: 
								a(href="mailto:androsov@test.ru") androsov@test.ru
		.contacts
			.contacts__inner
				.contacts__inner--text
					p.heading Контакты
					p.address-at Адрес в Санкт-Петербурге:
					p.address Бизнес-центр Вант, м. Пролетарская, пр. Обуховской обороны, 112, лит. И
					a.tel(href="tel:8 (800) 456-76-67") 8 (800) 456-76-67
					p.email E-mail: 
						a(href="mailto:info@tiilitalo.ru") info@tiilitalo.ru
					a.call-us(href="#") Связаться с нами
			.contacts__map
				script(src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=hYwU8LQ-m_4TBYZD4YFRybfwBs0JFFx8&amp;width=100%25&amp;height=564&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true")







block inlineScripts