extends _layout
block content
	main.main-content
		.page-intro(style="background-image: url(img/page-bg.jpg)")
			.page-intro__inner
				h1.page-title Проект дома B456
				.breadcrumbs
					a(href="#") Главная 
					span > 
					a(href="#") Каталог проектов 
					span > 
					span Проект дома B456
		.page.item-page
			.container
				h2 ПРОЕКТЫ ДВУХЭТАЖНЫХ ДОМОВ С ГАРАЖОМ И КАМИНОМ
				.item-descr-wrapper.cf
					.item-table
						table
							tr
								td Площадь дома
								td 122.00 м2
							tr
								td Количество комнат
								td 5
							tr
								td Спальни
								td 3
							tr
								td Ванные
								td 2
							tr
								td Фундамент
								td ленточный
							tr
								td Этажность
								td 2
							tr
								td Мансарда/Терасса
								td да
							tr
								td Балконы
								td 1
							tr
								td Сауна
								td да
					.item-descr-slider
						.detail__inner
							.detail-slider
								a.fancybox(href="img/slide1.jpg" rel="group")
									img(src="img/slide1.jpg", alt="")
								a.fancybox(href="img/slide1.jpg" rel="group")
									img(src="img/slide1.jpg", alt="")
								a.fancybox(href="img/slide1.jpg" rel="group")
									img(src="img/slide1.jpg", alt="")
				p Проект дома B456 — это прекрасная вилла для проживания большой семьи, которую можно выстроить на большом пригородном участке земли. Строгость внешнего вида придает зданию некоторую грациозность. Большой особняк выглядит стильно, благодаря большому количеству мансард, задекорированных зеленью, с которых можно наблюдать за играющими во дворе детьми. Окна способствуют проникновению естественного света в дом, что позволит снизить потребление энергии. Планировка дома предусматривает наличие гаража, куда можно поставить свой автомобиль. В теплое время года жители дома могут проводить свое свободное время на озелененной придомовой территории.
				p Пространство первого этажа распределено гармонично. Уютная гостиная оборудована камином, что позволит проводить долгие зимние вечера, сидя в кресле и смотря на огонь. В кухне предусмотрены большие окна, которые придают неимоверный простор, вид из окон скоротает приготовление пищи. Для сосредоточенной и спокойной работы кабинет расположен в задней части дома. На первом этаже также расположена ванная комната, гардероб, кладовая, хозяйственное помещение, а также двухместный гараж.
				p На втором этаже расположено четыре уютные спальни, в одной из которых есть собственная ванная комната и гардероб. Также есть общая ванная комната, которой могут воспользоваться приехавшие к Вам гости. Красивая терраса, расположенная в переднем фасаде дома, придает изящества и утонченности такой планировке.
				p Наличие всех необходимых для комфортного проживания помещений делают этот дом привлекательным для больших семей с детьми, и имеющих в своем распоряжении два 
			.project-page__offer
				.container
					p Примерная стоимость строительства: 
						span
							span 3 450 000 
							span.small руб.
					a.wh(href="#") Уточнить стоимость
					a(href="#") Оценить свой проект

			.detail-tech
				.container
					h2.block-title Используемые технологии
					ul.tech-list
						li
							.img-side
								img(src="img/tech1.png", alt="")
							p.heading Керамзитобетонные камни
							p.descr Внешняя стена 400 мм, однослойная конструкция, которая не требует дополнительного утепления
							table
								tr
									td Прочность
									td
										span.active
										span.active
										span.active
										span.active
										span.active
								tr
									td Энергоэффективность
									td
										span.active
										span.active
										span
										span
										span
								tr
									td Огнестойкость
									td
										span.active
										span.active
										span.active
										span
										span
								tr
									td Надежность
									td
										span.active
										span
										span
										span
										span
								tr
									td Экологичность
									td
										span.active
										span.active
										span.active
										span
										span
							a.view-more(href="#") Подробнее
						li
								.img-side
									img(src="img/tech2.png", alt="")
								p.heading Поризованный кирпич
								p.descr Внешняя стена до 510 мм, теплый кирпичный дом, который всегда будет в цене
								table
									tr
										td Прочность
										td
											span.active
											span.active
											span.active
											span.active
											span.active
									tr
										td Энергоэффективность
										td
											span.active
											span.active
											span
											span
											span
									tr
										td Огнестойкость
										td
											span.active
											span.active
											span.active
											span
											span
									tr
										td Надежность
										td
											span.active
											span
											span
											span
											span
									tr
										td Экологичность
										td
											span.active
											span.active
											span.active
											span
											span
								a.view-more(href="#") Подробнее
							li
							.img-side
								img(src="img/tech3.png", alt="")
							p.heading Энергоэффективные блоки
							p.descr Внешняя стена 350 мм, финская технология строительства, супер теплый дом
							table
								tr
									td Прочность
									td
										span.active
										span.active
										span.active
										span.active
										span.active
								tr
									td Энергоэффективность
									td
										span.active
										span.active
										span
										span
										span
								tr
									td Огнестойкость
									td
										span.active
										span.active
										span.active
										span
										span
								tr
									td Надежность
									td
										span.active
										span
										span
										span
										span
								tr
									td Экологичность
									td
										span.active
										span.active
										span.active
										span
										span
							a.view-more(href="#") Подробнее
						li
							.img-side
								img(src="img/tech4.png", alt="")
							p.heading Газобетонные блоки
							p.descr Внешняя стена до 400 мм, бюджетное решение для различных типов домов
							table
								tr
									td Прочность
									td
										span.active
										span.active
										span.active
										span.active
										span.active
								tr
									td Энергоэффективность
									td
										span.active
										span.active
										span
										span
										span
								tr
									td Огнестойкость
									td
										span.active
										span.active
										span.active
										span
										span
								tr
									td Надежность
									td
										span.active
										span
										span
										span
										span
								tr
									td Экологичность
									td
										span.active
										span.active
										span.active
										span
										span
							a.view-more(href="#") Подробнее
			.in-portfolio
				.container
					.in-portfolio__inner
						p Реализация этого проэкта есть в нашем протфолио. Хотите взглянуть?
						a(href="#") Посмотреть












block inlineScripts