extends _layout
block content
	main.main-content
		.intro-wrapper.order-page.page
			span.vegas-next.vegas-arr
			span.vegas-prev.vegas-arr
			.intro.project-page__intro
				.intro__inner
					h2.page-title Получите 
						span.green БЕСПЛАТНУЮ 
						| оценку стоимости строительства от компании 
						span TILITALO 
						| по 
						span.green ИНДИВИДУАЛЬНОМУ 
						| проекту
				a.to-bottom(href="#order")

		.order__content#order
			.container
				p Вы планируете построить дом своей мечты? Расскажите нам каким он должен быть. Наши профессиональные инженеры подготовят оценку вашего проэкта и подскажут все особенности строительства. Если Вы еще не решили, чего Вы хотите, оставьте в форме только свои контактные данные и мы поможем Вам создать ваш индивидуальный проэкт.
				.order-form
					form
						.order-form__row
							label.required Ваше имя 
								span * 
								input(type="text")
						.order-form__row
							label.required Номер телефона 
								span * 
								input(type="tel")
						.order-form__row
							label.required Адрес электронной почты 
								span * 
								input(type="email")
						.order-form__row
							.order-form__col
								label(for="area") Площадь дома
								input(type="text" id="area")
							.order-form__col
								label(for="floor") Этажность дома
								input(type="text" id="floor")
						.order-form__row
							label Тип строения
								input(type="text" placeholder="Например: каркасный, кирпичный, деревянный")
						.order-form__row
							label Тип фундамента
								input(type="text" placeholder="Например: ленточный, каменный, бетонный")
						.order-form__row
							label Спальни: количество, площадь, пожелания
								textarea
						.order-form__row
							label Ванные комнаты и сауна : количество, площадь, пожелания
								textarea
						.order-form__row
							label Кухня и гостевая зона  : количество, площадь, пожелания
								textarea
						.order-form__row
							label Гараж: площадь, пожелания
								textarea
						.order-form__row
							label Чердак, мансарда, терраса 
								textarea
						.order-form__row
							label Инженерные коммуникации (отопление, водоснабжение, печи, камины, бассейн и т.п.)
								textarea
						.order-form__row
							label Опишите каким Вы видите свой дом
								textarea(style="height: 200px;")


						.order-form__row
							span.fake-label Приложите наброски плана или фотографии, которые помогут нам понять ваши пожелания
							.file-input-col
								
								ul.file-list#fileList
								label.file-label(for="filesToUpload") Загрузить файл
								input(type="file" multiple="" id="filesToUpload")






						input.send-btn(type="submit" value="отправить")
		.order-why.cf
			.container
				h2.block-title Почему мы?
				ul.why__list
					li
						.img-wrap
							img(src="img/why1.png", alt="")
						p Качественные и современные материалы 
					li
						.img-wrap
							img(src="img/why2.png", alt="")
						p Высокая квалификация сотрудников
					li
						.img-wrap
							img(src="img/why3.png", alt="")
						p 1369 построенных домов
					li
						.img-wrap
							img(src="img/why4.png", alt="")
						p Гарантия качества - 5 лет
		.order-stages.cf
			.container
				h2.block-title Этапы строительства
				.stage-slider-wrapper
					.arr-container
						.slick-next.slick-arr
						.slick-prev.slick-arr
					.stage-slider
						.stage-slide
							.img-wrap
								img(src="img/stage1.png", alt="")
								span.count 1
							p.heading 1 этап. Проектирование
							p Проектирование дома начинается с создания эскизного проекта.
							p В программе ArchiCad строится 3D-модель будущего дома, которая позволяет еще до начала строительства увидеть на экране монитора, каким будет дом, и даже «походить» по нему. Эскизный проект загородного дома оформляется в виде альбома, который содержит планы, фасады, разрезы дома и его привязку к участку. Такой альбом необходим для получения разрешения на строительство в местной администрации.
							p Для того, чтобы приступить к строительству дома, эскизного проекта недостаточно, необходимо подробное описание всех деталей с указанием размеров и используемых материалов, а также расчет конструктивных элементов дома. Полная информация, необходимая для строительства, содержится в рабочем проекте дома. Важно, чтобы рабочий проект был сделан индивидуально и с учетом стоимости строительства, иначе в качестве, например, проекта фундамента Вы получите «типовой» фундамент, на котором можно построить десятиэтажный дом.
							p Архитектурная и конструктивная части проекта должны быть дополнены проектом инженерных систем и, желательно, дизайн-проектом отделки — только в этом случае удастся избежать нестыковок и переделок.
						.stage-slide
							.img-wrap
								img(src="img/stage1.png", alt="")
								span.count 2
							p.heading 2 этап. Проектирование
							p Проектирование дома начинается с создания эскизного проекта.
							p В программе ArchiCad строится 3D-модель будущего дома, которая позволяет еще до начала строительства увидеть на экране монитора, каким будет дом, и даже «походить» по нему. Эскизный проект загородного дома оформляется в виде альбома, который содержит планы, фасады, разрезы дома и его привязку к участку. Такой альбом необходим для получения разрешения на строительство в местной администрации.
							p Для того, чтобы приступить к строительству дома, эскизного проекта недостаточно, необходимо подробное описание всех деталей с указанием размеров и используемых материалов, а также расчет конструктивных элементов дома. Полная информация, необходимая для строительства, содержится в рабочем проекте дома. Важно, чтобы рабочий проект был сделан индивидуально и с учетом стоимости строительства, иначе в качестве, например, проекта фундамента Вы получите «типовой» фундамент, на котором можно построить десятиэтажный дом.
							p Архитектурная и конструктивная части проекта должны быть дополнены проектом инженерных систем и, желательно, дизайн-проектом отделки — только в этом случае удастся избежать нестыковок и переделок.
		.order-talking.cf
			.container
				h2.block-title о нас говорят
				p.subheading Проектирование дома начинается с создания эскизного проекта. В программе ArchiCad строится 3D-модель будущего дома, которая позволяет еще до начала строительства увидеть на экране монитора, каким будет дом, и даже «походить» по нему. Эскизный проект загородного дома оформляется в виде альбома, который содержит планы, фасады, разрезы дома и его привязку к участку. Такой альбом необходим для получения разрешения на строительство в местной администрации.
				.talking-slider-wrapper
					.talking-slick-prev.talking-arr
					.talking-slick-next.talking-arr
					.talking-slider
						.talking-slider-item
							.img-wrap
								.img-inner
									img(src="img/talk-img.png", alt="")
							.text-wrap
								p.name Андросов Евгений1
								p.job генеральный директор “ООО Строй-сервис”1
						.talking-slider-item
							.img-wrap
								.img-inner
									img(src="img/talk-img.png", alt="")
							.text-wrap
								p.name Андросов Евгений2
								p.job генеральный директор “ООО Строй-сервис”2
						.talking-slider-item
							.img-wrap
								.img-inner
									img(src="img/talk-img.png", alt="")
							.text-wrap
								p.name Андросов Евгений3
								p.job генеральный директор “ООО Строй-сервис”3
						.talking-slider-item
							.img-wrap
								.img-inner
									img(src="img/talk-img.png", alt="")
							.text-wrap
								p.name Андросов Евгений4
								p.job генеральный директор “ООО Строй-сервис”4
						.talking-slider-item
							.img-wrap
								.img-inner
									img(src="img/talk-img.png", alt="")
							.text-wrap
								p.name Андросов Евгений5
								p.job генеральный директор “ООО Строй-сервис”5 ой-сервис”5 ой-сервис”5
						.talking-slider-item
							.img-wrap
								.img-inner
									img(src="img/talk-img.png", alt="")
							.text-wrap
								p.name Андросов Евгений6
								p.job генеральный директор “ООО Строй-сервис”6







block inlineScripts
	script.
		$(".intro").vegas({
			animation: 'random',
			transitionDuration: 3000,
			delay: 10000,
		    slides: [
		        { src: "/img/top.jpg" },
		        { src: "/img/top2.jpg" },
		    ],
		});