extends _layout
block content
	main.main-content
		.intro-wrapper
			span.vegas-next.vegas-arr
			span.vegas-prev.vegas-arr
			.intro.project-page__intro
				.intro__inner
					h1 Дом в Киссолово
					p.heading «Киссолово» – коттеджный посёлок для счастливых семей
					.project-table
						table
							tr
								td Площадь дома
								td 122.00 м2
							tr
								td Этажность
								td 2
							tr
								td Материал
								td Брус сосновый
							tr
								td Фундамент
								td Ленточный
							tr
								td Срок
								td 2,5 месяца
		.project-breadcrumbs
			.container
				a(href="#") Главная
				span  > 
				a(href="#") Портфолио
				span  > 
				span  Дом в Киссолово
		.project__content
			.container
				.project__content--wrapper.cf
					.project__content--lcol
						h2 Двухэтажный деревянный дом
						p Проект дома B456 — это прекрасная вилла для проживания большой семьи, которую можно выстроить на большом пригородном участке земли. Строгость внешнего вида придает зданию некоторую грациозность. Большой особняк выглядит стильно, благодаря большому количеству мансард, задекорированных зеленью, с которых можно наблюдать за играющими во дворе детьми. Окна способствуют проникновению естественного света в дом, что позволит снизить потребление энергии. Планировка дома предусматривает наличие гаража, куда можно поставить свой автомобиль. В теплое время года жители дома могут проводить свое свободное время на озелененной придомовой территории.
						p Пространство первого этажа распределено гармонично. Уютная гостиная оборудована камином, что позволит проводить долгие зимние вечера, сидя в кресле и смотря на огонь. В кухне предусмотрены большие окна, которые придают неимоверный простор, вид из окон скоротает приготовление пищи. Для сосредоточенной и спокойной работы кабинет расположен в задней части дома. На первом этаже также расположена ванная комната, гардероб, кладовая, хозяйственное помещение, а также двухместный гараж.
						p На втором этаже расположено четыре уютные спальни, в одной из которых есть собственная ванная комната и гардероб. Также есть общая ванная комната, которой могут воспользоваться приехавшие к Вам гости. Красивая терраса, расположенная в переднем фасаде дома, придает изящества и утонченности такой планировке.
					.project__content--rcol
						p.heading Проделанные работы
						ol.project__content--list
							li Привезли весь материал на участок
							li Подготовили место под фундамент
							li Заложили фундамент
							li Построили 1 этаж
							li Построили 2 этаж
							li Сделали каркас для крыши
							li Накрыли крышу
							li Поставили все окна и двери
							li Проделана вся внутренняя отделка
							li Сделали ландшафтный дизайн на участке
					
		.chronology#chronology
			.container
				h3.block-title Хронология строительства
				.chronology__inner
					.swiper-container.chronology-top
						.swiper-wrapper
							.swiper-slide.cf
								.img-side
									.slide-num 1
									img(src="img/swipe.jpg", alt="")
								.content-side
									p.heading 5 этап. устройство фундаментов
									span.date 25.09.2016
									p.descr Фундаменты должны быть крепкими, надежными, выступающими над уровнем грунта не менее 25см и на глубину промерзания (от типа грунтов). . И чем выше он, тем краше и величественней будет выглядеть наше здание. Не забываем оставлять проемы в фундаменте, заложив для этого отрезки труб или иного материала - для водопровода, канализации и т.п. И еще нужно помнить, что фундамент основа всему - он на себе несет всю тяжесть здания и на нем не экономим. Конечно и не тратим лишние деньги. Просто нужен расчет.
									a(href="#") Смотреть подробнее
							.swiper-slide.cf
								.img-side
									.slide-num 2
									img(src="img/swipe.jpg", alt="")
								.content-side
									p.heading 5 этап. устройство фундаментов
									span.date 25.09.2016
									p.descr Фундаменты должны быть крепкими, надежными, выступающими над уровнем грунта не менее 25см и на глубину промерзания (от типа грунтов). . И чем выше он, тем краше и величественней будет выглядеть наше здание. Не забываем оставлять проемы в фундаменте, заложив для этого отрезки труб или иного материала - для водопровода, канализации и т.п. И еще нужно помнить, что фундамент основа всему - он на себе несет всю тяжесть здания и на нем не экономим. Конечно и не тратим лишние деньги. Просто нужен расчет.
									a(href="#") Смотреть подробнее
							.swiper-slide.cf
								.img-side
									.slide-num 3
									img(src="img/swipe.jpg", alt="")
								.content-side
									p.heading 5 этап. устройство фундаментов
									span.date 25.09.2016
									p.descr Фундаменты должны быть крепкими, надежными, выступающими над уровнем грунта не менее 25см и на глубину промерзания (от типа грунтов). . И чем выше он, тем краше и величественней будет выглядеть наше здание. Не забываем оставлять проемы в фундаменте, заложив для этого отрезки труб или иного материала - для водопровода, канализации и т.п. И еще нужно помнить, что фундамент основа всему - он на себе несет всю тяжесть здания и на нем не экономим. Конечно и не тратим лишние деньги. Просто нужен расчет.
									a(href="#") Смотреть подробнее
							.swiper-slide.cf
								.img-side
									.slide-num 4
									img(src="img/swipe.jpg", alt="")
								.content-side
									p.heading 5 этап. устройство фундаментов
									span.date 25.09.2016
									p.descr Фундаменты должны быть крепкими, надежными, выступающими над уровнем грунта не менее 25см и на глубину промерзания (от типа грунтов). . И чем выше он, тем краше и величественней будет выглядеть наше здание. Не забываем оставлять проемы в фундаменте, заложив для этого отрезки труб или иного материала - для водопровода, канализации и т.п. И еще нужно помнить, что фундамент основа всему - он на себе несет всю тяжесть здания и на нем не экономим. Конечно и не тратим лишние деньги. Просто нужен расчет.
									a(href="#") Смотреть подробнее
							.swiper-slide.cf
								.img-side
									.slide-num 5
									img(src="img/swipe.jpg", alt="")
								.content-side
									p.heading 5 этап. устройство фундаментов
									span.date 25.09.2016
									p.descr Фундаменты должны быть крепкими, надежными, выступающими над уровнем грунта не менее 25см и на глубину промерзания (от типа грунтов). . И чем выше он, тем краше и величественней будет выглядеть наше здание. Не забываем оставлять проемы в фундаменте, заложив для этого отрезки труб или иного материала - для водопровода, канализации и т.п. И еще нужно помнить, что фундамент основа всему - он на себе несет всю тяжесть здания и на нем не экономим. Конечно и не тратим лишние деньги. Просто нужен расчет.
									a(href="#") Смотреть подробнее
							.swiper-slide.cf
								.img-side
									.slide-num 6
									img(src="img/swipe.jpg", alt="")
								.content-side
									p.heading 5 этап. устройство фундаментов
									span.date 25.09.2016
									p.descr Фундаменты должны быть крепкими, надежными, выступающими над уровнем грунта не менее 25см и на глубину промерзания (от типа грунтов). . И чем выше он, тем краше и величественней будет выглядеть наше здание. Не забываем оставлять проемы в фундаменте, заложив для этого отрезки труб или иного материала - для водопровода, канализации и т.п. И еще нужно помнить, что фундамент основа всему - он на себе несет всю тяжесть здания и на нем не экономим. Конечно и не тратим лишние деньги. Просто нужен расчет.
									a(href="#") Смотреть подробнее
							.swiper-slide.cf
								.img-side
									.slide-num 7
									img(src="img/swipe.jpg", alt="")
								.content-side
									p.heading 5 этап. устройство фундаментов
									span.date 25.09.2016
									p.descr Фундаменты должны быть крепкими, надежными, выступающими над уровнем грунта не менее 25см и на глубину промерзания (от типа грунтов). . И чем выше он, тем краше и величественней будет выглядеть наше здание. Не забываем оставлять проемы в фундаменте, заложив для этого отрезки труб или иного материала - для водопровода, канализации и т.п. И еще нужно помнить, что фундамент основа всему - он на себе несет всю тяжесть здания и на нем не экономим. Конечно и не тратим лишние деньги. Просто нужен расчет.
									a(href="#") Смотреть подробнее
							.swiper-slide.cf
								.img-side
									.slide-num 8
									img(src="img/swipe.jpg", alt="")
								.content-side
									p.heading 5 этап. устройство фундаментов
									span.date 25.09.2016
									p.descr Фундаменты должны быть крепкими, надежными, выступающими над уровнем грунта не менее 25см и на глубину промерзания (от типа грунтов). . И чем выше он, тем краше и величественней будет выглядеть наше здание. Не забываем оставлять проемы в фундаменте, заложив для этого отрезки труб или иного материала - для водопровода, канализации и т.п. И еще нужно помнить, что фундамент основа всему - он на себе несет всю тяжесть здания и на нем не экономим. Конечно и не тратим лишние деньги. Просто нужен расчет.
									a(href="#") Смотреть подробнее
							.swiper-slide.cf
								.img-side
									.slide-num 9
									img(src="img/swipe.jpg", alt="")
								.content-side
									p.heading 5 этап. устройство фундаментов
									span.date 25.09.2016
									p.descr Фундаменты должны быть крепкими, надежными, выступающими над уровнем грунта не менее 25см и на глубину промерзания (от типа грунтов). . И чем выше он, тем краше и величественней будет выглядеть наше здание. Не забываем оставлять проемы в фундаменте, заложив для этого отрезки труб или иного материала - для водопровода, канализации и т.п. И еще нужно помнить, что фундамент основа всему - он на себе несет всю тяжесть здания и на нем не экономим. Конечно и не тратим лишние деньги. Просто нужен расчет.
									a(href="#") Смотреть подробнее
						.swiper-next.swiper-control
						.swiper-prev.swiper-control
					.chronology-bottom__wrapper
						.swiper-container.chronology-bottom
							.swiper-wrapper
								.swiper-slide.cf
									span.count 1 этап
									span.buble
								.swiper-slide.cf
									span.count 2 этап
									span.buble
								.swiper-slide.cf
									span.count 3 этап
									span.buble
								.swiper-slide.cf
									span.count 4 этап
									span.buble
								.swiper-slide.cf
									span.count 5 этап
									span.buble
								.swiper-slide.cf
									span.count 6 этап
									span.buble
								.swiper-slide.cf
									span.count 7 этап
									span.buble
								.swiper-slide.cf
									span.count 8 этап
									span.buble
								.swiper-slide.cf
									span.count 9 этап
									span.buble




		.detail-tech.project-tech
			.container
				p.block-title Используемые технологии
				ul.tech-list
					li
						.img-side
							img(src="img/tech1.png", alt="")
						p.heading Керамзитобетонные камни
						p.descr Внешняя стена 400 мм, однослойная конструкция, которая не требует дополнительного утепления
						table
							tr
								td Прочность
								td
									span.active
									span.active
									span.active
									span.active
									span.active
							tr
								td Энергоэффективность
								td
									span.active
									span.active
									span
									span
									span
							tr
								td Огнестойкость
								td
									span.active
									span.active
									span.active
									span
									span
							tr
								td Надежность
								td
									span.active
									span
									span
									span
									span
							tr
								td Экологичность
								td
									span.active
									span.active
									span.active
									span
									span
						a.view-more(href="#") Подробнее
					li
							.img-side
								img(src="img/tech2.png", alt="")
							p.heading Поризованный кирпич
							p.descr Внешняя стена до 510 мм, теплый кирпичный дом, который всегда будет в цене
							table
								tr
									td Прочность
									td
										span.active
										span.active
										span.active
										span.active
										span.active
								tr
									td Энергоэффективность
									td
										span.active
										span.active
										span
										span
										span
								tr
									td Огнестойкость
									td
										span.active
										span.active
										span.active
										span
										span
								tr
									td Надежность
									td
										span.active
										span
										span
										span
										span
								tr
									td Экологичность
									td
										span.active
										span.active
										span.active
										span
										span
							a.view-more(href="#") Подробнее
						li
						.img-side
							img(src="img/tech3.png", alt="")
						p.heading Энергоэффективные блоки
						p.descr Внешняя стена 350 мм, финская технология строительства, супер теплый дом
						table
							tr
								td Прочность
								td
									span.active
									span.active
									span.active
									span.active
									span.active
							tr
								td Энергоэффективность
								td
									span.active
									span.active
									span
									span
									span
							tr
								td Огнестойкость
								td
									span.active
									span.active
									span.active
									span
									span
							tr
								td Надежность
								td
									span.active
									span
									span
									span
									span
							tr
								td Экологичность
								td
									span.active
									span.active
									span.active
									span
									span
						a.view-more(href="#") Подробнее
					li
						.img-side
							img(src="img/tech4.png", alt="")
						p.heading Газобетонные блоки
						p.descr Внешняя стена до 400 мм, бюджетное решение для различных типов домов
						table
							tr
								td Прочность
								td
									span.active
									span.active
									span.active
									span.active
									span.active
							tr
								td Энергоэффективность
								td
									span.active
									span.active
									span
									span
									span
							tr
								td Огнестойкость
								td
									span.active
									span.active
									span.active
									span
									span
							tr
								td Надежность
								td
									span.active
									span
									span
									span
									span
							tr
								td Экологичность
								td
									span.active
									span.active
									span.active
									span
									span
						a.view-more(href="#") Подробнее

		.project-page__offer
			.container
				p Вам нужен индивидуальный проект? Проведем оценку 
					span Бесплатно!
				a(href="#") Оценить свой проект








block inlineScripts